
.navbar-logo{ 
  height: 55px;
}
#cubo2{
	font-size: 20px;
}

#borda{
	margin-top: 30px;
	border: 3px solid black;
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

img {
  width: 80px; /* controla o tamanho da imagem do cabecario  */
  height: 90px; /* controla tamanho das imagens da galeria  */
  object-fit: cover; /* para alterar o tamanho das iamgens e manter responsivas */
  /*  https://www.w3schools.com/css/css3_object-fit.asp */
}

.distante{
	padding-bottom: 90px;
	font-size: 18px;
}
.distante2{
	padding-bottom: 25px;
	font-size: 18px;
}
.obrigado{
	padding-bottom: 20px;
	padding-top: 20px;

}

.borda2{
	border: 2px solid black;
}












/* min-width & max-width */
/*  @media screen and (min-width: 10px) and (max-width: 900px) {
	.galeria img{
		background-color: black;
	}
}
*/









